body {
    background-color: rgb(12, 12, 148);
    color: white;
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;

}

.container {
    margin: auto;
}

form {
    width: 300px;
    margin: auto;
}

/* .forgot-password{
    text-align: right;
    width: 100px;
} */

.google-login img {
    height: 20px;
}

.google-login {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    background-color: black;
}